# The default SSH configuration for all hosts.
Host *

    # We assume that SSH connections use port 22.
    Port 22

    # Enable multiplexing to reuse SSH connections.
    ControlMaster auto
    ControlPersist 60s
    ControlPath ~/.ssh/%r@%h:%p

    # Always add an SSH key to the ssh-agent on first use.
    AddKeysToAgent yes

    # We only want to log errors.
    LogLevel ERROR

    # We exclusively connect with a public key.
    PubKeyAuthentication yes
    PasswordAuthentication no
    IdentityFile ~/.ssh/id_rsa

    # We expect to connect to every host within 10 seconds.
    ConnectTimeout 10

    # We want to check the host keys.
    StrictHostKeyChecking ask

    # We want passphrase/password querying.
    BatchMode no

Host *.local
    User vagrant

    # It is save to skip the host key checking
    # in the development environment.
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
